* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: "SF Pro Display";
}

.container {
  width: 1440px;
  background-color: #f4f4f4;
}

.encabezado {
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  background-color: #ffffff;
}

.foto {
  width: 44px;
  height: 44px;
}

.notificacion {
  width: 24px;
  height: 24px;
}

.grande {
  display: flex;
}

.general {
  margin-left: 100px;
}

.titulo {
  font-size: 32px;
  font-weight: 600;
  margin-top: 60px;
}

.texto_fa {
  margin-top: 30px;
  background-color: #fcefca;
  width: 1240px;
  height: 72px;
  display: flex;
  align-items: center;
  border-radius: 8px;
}

.texto_fa img {
  margin-left: 20px;
}

.texto_fa p {
  margin-left: 20px;
  color: #333333;
}

.texto_fa p a {
  text-decoration: none;
  color: #2f80ed;
}

.room1 {
  width: 810px;
  height: 328px;
  background-color: #ffffff;
  margin-top: 30px;
  border-radius: 6px;
}

.room1_parte_arriba {
  display: flex;
  align-items: center;
  gap: 18px;
  color: #ffffff;
  padding: 20px;
  background-color: #2f80ed;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.parte_arriba {
  display: flex;
  margin-left: 32px;
  margin-top: 30px;
  gap: 20px;
}

.etiqueta {
  display: flex;
  flex-direction: column;
}

.parte_arriba label {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 10px;
  color: #181818;
}

.parte_abajo {
  display: flex;
  position: relative;
  align-items: center;
  margin-left: 32px;
  margin-top: 20px;
  gap: 20px;
}

.parte_arriba input {
  width: 240px;
  height: 44px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding-left: 10px;
}

.mobil {
  display: flex;
  flex-direction: column;
}

.mobil label {
  font-size: 14px;
  font-weight: 400;
  color: #181818;
}

.bandera {
  position: absolute;
  top: 35px;
  left: 15px;
}

.seleccion {
  display: flex;
  gap: 20px;
  width: 150px;
  height: 44px;
  border: none;
  background-color: #f2f2f2;
  margin-top: 10px;
  padding-left: 45px;
}

.vacio input {
  width: 338px;
  height: 44px;
  border: none;
  margin-top: 25px;
  background-color: #f2f2f2;
  padding-left: 10px;
}

.recuadro {
  display: flex;
  margin-left: 32px;
  margin-top: 20px;
  align-items: center;
}

.recuadro input {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.recuadro span {
  font-size: 14px;
  color: #333333;
}

.pagos {
  width: 810px;
  height: 600px;
  background-color: #ffffff;
  margin-top: 30px;
}

.pagos_parte_arriba {
  display: flex;
  align-items: center;
  gap: 18px;
  color: #ffffff;
  padding: 20px;
  background-color: #2f80ed;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.metodos {
  margin-top: 20px;
  list-style: none;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
  display: flex;
  gap: 20px;
  border-bottom: 1px solid #e0e0e0;
}

.metodos li {
  padding-bottom: 20px;
  margin-left: 32px;
}

.metodos_de_pago {
  display: flex;
  margin-top: 30px;
  gap: 6px;
  margin-left: 32px;
  margin-right: 32px;
}

.metodos_de_pago div {
  width: 60px;
  height: 40px;
  background-color: #f2f2f2;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.datos_targeta {
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 468px;
  margin-top: 20px;
  margin-left: 32px;
}

.datos_targeta label {
  font-size: 14px;
  font-weight: 400;
  color: #181818;
}

.datos_targeta input {
  width: 500px;
  flex-direction: column;
  display: flex;
  margin-top: 10px;
  margin-bottom: 20px;
  height: 44px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding-left: 10px;
}

.general_form {
  width: 810px;
}

.anyo {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  width: 150px;
  height: 42px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.meses_anyos {
  display: flex;
  gap: 20px;
}

.meses {
  display: flex;
  gap: 20px;
  margin-top: 10px;
  width: 150px;
  height: 42px;
  border: none;
  background-color: #f2f2f2;
  border-radius: 4px;
}

.seguridad {
  display: flex;
  margin-top: 10px;
  gap: 10px;
}

.seguridad input {
  width: 240px;
  display: flex;
  flex-direction: column;
  height: 44px;
  border: none;
  margin-top: 10px;
  background-color: #f2f2f2;
  border-radius: 4px;
  padding-left: 10px;
}

.contenido_amarillo {
  height: 400px;
  width: 810px;
  font-size: 15px;
  color: #333333;
  background-color: white;
  border-radius: 6px;
}

.fondo_amarillo {
  margin-top: 30px;
  background-color: #f2c94c;
  width: 810px;
  height: 72px;
  display: flex;
  align-items: center;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  padding-left: 20px;
  box-sizing: border-box;
}

.lista {
  width: 762px;
  height: 115px;
  padding-top: 24px;
  padding-right: 24px;
  margin-left: 40px;
  line-height: 150%;
}

.texto {
  padding-left: 24px;
  padding-right: 24px;
  line-height: 140%;
}

.texto a {
  text-decoration: none;
  color: #2f80ed;
}

.boton {
  margin-top: 20px;
  font-family: "SF Pro Display";
  width: 160px;
  height: 44px;
  background-color: #2f80ed;
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.verde {
  display: flex;
  margin-top: 21px;
  align-items: center;
  gap: 10px;
}

.parte_derecha {
  margin-left: 30px;
  margin-top: 30px;
}

.parte_derecha_texto {
  height: 220px;
  width: 400px;
  background-color: #ffffff;
}

.subtitulo {
  padding-top: 20px;
  margin-left: 20px;
}

.calificacion {
  margin-top: 10px;
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.calificacion span {
  margin-left: 10px;
  font-size: 14px;
  color: #4f4f4f;
}

.parte_derecha ul {
  list-style: none;
  margin-top: 20px;
  margin-left: 20px;
  color: #4f4f4f;
  font-size: 16px;
  line-height: 140%;
}

.parte_derecha ul li {
  margin-bottom: 8px;
}

.rojo {
  color: #eb5757;
}

.texto_titulo_verde {
  font-size: 20px;
  font-weight: 600;
  margin-top: 20px;
  width: 400px;
  height: 338px;
  border: 1px solid #e0e0e0;
}

.fondo_verde {
  font-size: 16px;
  display: flex;
  align-items: center;
  background-color: #85e0ab;
  width: 400px;
  height: 55px;
  color: #181818;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.fondo_verde h3 {
  margin-left: 20px;
}

.contenido_texto_titulo_fondo_verde {
  height: 283px;
  background-color: white;
  border-radius: 6px;
}

.detalle_precio {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  color: #4f4f4f;
  font-weight: 400;
}

.detalle_precio2 {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 14px;
  color: #4f4f4f;
  font-weight: 400;
  border-bottom: 1px solid #e0e0e0;
  padding-bottom: 20px;
}

.total {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;
  color: #181818;
  font-weight: 500;
}

.dinero_total {
  font-size: 20px;
  font-weight: 600;
}

.cupon {
  margin-top: 15px;
  margin-left: 18px;
  font-weight: 400;
  font-size: 14px;
  color: #2f80ed;
  cursor: pointer;
}

.codigo {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  padding-left: 20px;
}

.codigo input {
  width: 226px;
  height: 44px;
  margin-top: 10px;
  background-color: #f2f2f2;
  border: none;
}

.codigo label {
  font-size: 14px;
  font-weight: 500;
  color: #181818;
  margin-top: 15px;
}

.boton_cupon {
  width: 132px;
  height: 44px;
  background-color: #333333;
  color: #ffffff;
  border-radius: 6px;
  border: none;
  font-family: "SF Pro Display";
  font-size: 15px;
  margin-left: 6px;
}
