* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: "SF Pro Display";
}

.container {
  width: 1440px;
  height: 2470px;
  background-color: #f4f4f4;
}

.encabezado {
  display: flex;
  justify-content: center;
  gap: 280px;
  padding: 30px;
  align-items: center;
}

.lista {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  list-style: none;
  font-size: 16px;
  font-family: "SF Pro Display";
}

.lista a {
  text-decoration: none;
  color: #333333;
}

.foto {
  width: 44px;
  height: 44px;
}

.notificacion {
  width: 24px;
  height: 24px;
}

.foto_izquierda {
  margin-left: 100px;
  width: 820px;
  height: 452px;
}

.fotos {
  width: 1440px;
  height: 500px;
  display: flex;
  background-color: #ffffff;
}

.foto_derecha {
  margin-left: 20px;
  width: 520px;
  height: 452px;
}

.abajo {
  margin-top: 13px;
}

.overview {
  margin-left: 100px;
}

.overview ul {
  display: flex;
  gap: 40px;
  list-style: none;
  color: #333333;
  font-size: 16px;
  font-weight: 400;
}

.lakeside {
  margin-left: 100px;
  margin-top: 30px;
}

.lakeside h2 {
  font-size: 30px;
  font-weight: 600;
  color: #1a1a1a;
}

.calificacion {
  margin-top: 15px;
  gap: 10px;
}

.rating {
  display: flex;
  align-items: center;
  gap: 10px;
}

.calificacion span {
  color: #4f4f4f;
  font-size: 14px;
}

.texto_debajo_rating {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

.parte_izquierda {
  width: 810px;
  display: flex;
  flex-direction: column;
}

.div_texto {
  margin-left: 100px;
  margin-top: 60px;
  width: 810px;
  height: 508px;
  background-color: white;
  border-radius: 6px;
}

.div_texto h3 {
  padding-top: 20px;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #181818;
}

.general {
  display: flex;
}

.div_texto p {
  margin-left: 30px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 400;
  color: #4f4f4f;
  line-height: 140%;
  width: 740px;
}

.parte_derecha {
  display: flex;
  flex-direction: column;
  margin-left: 130px;
}

.facilities {
  margin-top: 50px;
  margin-bottom: 20px;
}

.wifi {
  margin-left: 30px;
  list-style: none;
  line-height: 40px;
}

.free {
  display: flex;
  gap: 10px;
  color: #4f4f4f;
}

.facility {
  display: flex;
  gap: 100px;
}

.mapa {
  margin-top: 70px;
  width: 400px;
  height: 240px;
  margin-bottom: 40px;
}

.lugares {
  gap: 10px;
  color: #4f4f4f;
  list-style: none;
}

.ubicaciones {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 10px;
}

.ubicaciones div {
  display: flex;
  gap: 10px;
}

.rooms {
  margin-left: 100px;
  margin-top: 50px;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1240px;
  height: 64px;
  margin: 0 auto;
  gap: 10px;
  border-radius: 8px;
  font-family: "SF Pro Display";
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  background-color: #ffffff;
  box-shadow: 0px 4px 37px 0px #00000026;
  margin-top: 30px;
  position: relative;
}

.user {
  position: absolute;
  left: 685px;
}

.calendar1 {
  position: absolute;
  left: 25px;
}

.calendar2 {
  position: absolute;
  left: 360px;
}

.where {
  width: 320px;
  height: 43px;
  border-radius: 4px;
  gap: 10px;
  background-color: #f2f2f2;
  border: none;
  padding-left: 40px;
  box-sizing: border-box;
}

.date {
  width: 320px;
  height: 43px;
  border-radius: 4px;
  gap: 10px;
  background-color: #f2f2f2;
  border: none;
  padding-left: 40px;
  box-sizing: border-box;
}

.date_final {
  width: 320px;
  height: 43px;
  border-radius: 4px;
  gap: 10px;
  background-color: #f2f2f2;
  border: none;
  padding-left: 40px;
  box-sizing: border-box;
}

.buscar {
  width: 220px;
  height: 44px;
  background-color: #2f80ed;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  gap: 10px;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
}

.search {
  margin-top: 80px;
  padding: 30px;
  width: 295px;
  height: 80px;
  background-color: #f2f2f2;
  margin-left: 100px;
  border-radius: 6px;
}

.fondo_azul {
  width: 400px;
  height: 340px;
  margin-left: 100px;
  background: linear-gradient(180deg, #4796ff 0%, #2366bf 100%);
  border-radius: 6px;
}

.place {
  margin-top: 60px;
  margin-left: 28px;
}

.fondo_azul p{
  width: 195px;
  height: 126px;
  margin-left: 28px;
  color: white;
  font-size: 24px;
  margin-top: 30px;
  line-height: 100%;
}

.azul{
  display: flex;
  gap: 20px;
  margin-top: 30px;
}

.persona{
  width: 177px;
  height: 291px;
  margin-left: 130px;
  margin-top: -220px;
}

.habitaciones{
  width: 400px;
  height: 200px;
}

.cuartos{
  width: 400px;
  height: 432px;
  background-color: white;
  border-radius: 6px;
}

.listas{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.cuartos h3{
  padding-top: 20px;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 500;
  color: #181818;
}

.cuartos ul{
  list-style: none;
  margin-left: 30px;
  margin-top: 20px;
  color: #4F4F4F;
}

.boton_cuartos{
  display: flex;
  align-items: center;
  justify-content: center;
}

.boton_cuartos button{
  width: 340px;
  height: 44px;
  background-color: #2F80ED;
  color: white;
  border: none;
  border-radius: 6px;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
  margin-top: 10px;
}

.texto_fa {
  margin-top: 50px;
  margin-left: 100px;
  background-color: #fcefca;
  width: 1240px;
  height: 72px;
  display: flex;
  align-items: center;
}

.texto_fa img {
  margin-left: 20px;
}

.texto_fa p {
  margin-left: 20px;
  color: #333333;
}

.texto_fa p a {
  text-decoration: none;
  color: #2f80ed;
}

.lista_abajo {
  margin-left: 90px;
  flex-direction: column;
  display: flex;
  margin-top: 50px;
  list-style: none;
  line-height: 30px;
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 400;
}

.lista_abajo img {
  width: 159px;
  height: 24px;
}

.lista_abajo span {
  width: 197px;
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  margin-left: 30px;
}

.listas_footer {
  display: flex;
  gap: 40px;
}

.lista_abajo a {
  text-decoration: none;
  color: #2f80ed;
}

footer {
  text-align: end;
  padding-top: 15px;
  margin-top: 40px;
  padding-bottom: 15px;
  background-color: #EBEBEB;
  padding-right: 300px;
  font-size: 14px;
  color: #4f4f4f;
}
