.caracteres{
    font-family: 'SF Pro Display';
    font-size: 16px;
    font-weight: 400;
    color: #6B7280;
    width: 400px;
    text-align: center;
}

.terminos{
    font-family: 'SF Pro Display';
    font-size: 14px;
    width: 401px;
}

input{
    width: 400px;
    height: 44px;
}