* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  font-family: "SF Pro Display";
}

.container {
  width: 1440px;
  height: 3114px;
}

.general {
  display: flex;
}

.encabezado {
  display: flex;
  justify-content: center;
  gap: 215px;
  padding: 20px;
  background-color: #2969bf;
  width: 1440px;
  height: 200px;
}

.contenido_header {
  display: flex;
}

.lista {
  display: flex;
  justify-content: center;
  gap: 48px;
  list-style: none;
  font-size: 16px;
  font-family: "SF Pro Display";
}

.foto {
  width: 44px;
  height: 44px;
}

.notificacion {
  width: 24px;
  height: 24px;
}

.lista a {
  text-decoration: none;
  color: white;
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1030px;
  height: 64px;
  margin: 0 auto;
  gap: 10px;
  border-radius: 8px;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 400;
  font-style: Regular;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 2%;
  background-color: #ffffff;
  box-shadow: 0px 4px 37px 0px #00000026;
  position: relative;
  bottom: 30px;
}

.where {
  width: 260px;
  height: 43px;
  border-radius: 4px;
  gap: 10px;
  background-color: #f2f2f2;
  border: none;
  padding-left: 40px;
  box-sizing: border-box;
}

.date {
  width: 170px;
  height: 43px;
  border-radius: 4px;
  gap: 10px;
  background-color: #f2f2f2;
  border: none;
  padding-left: 40px;
  box-sizing: border-box;
}

.date_final {
  width: 170px;
  height: 43px;
  border-radius: 4px;
  gap: 10px;
  background-color: #f2f2f2;
  border: none;
  padding-left: 40px;
  box-sizing: border-box;
}

.users {
  width: 210px;
  height: 43px;
  border-radius: 4px;
  gap: 10px;
  background-color: #f2f2f2;
  border: none;
  padding-left: 40px;
  box-sizing: border-box;
}

.buscar {
  width: 148px;
  height: 44px;
  background-color: #2f80ed;
  color: #ffffff;
  border: none;
  border-radius: 6px;
  gap: 10px;
  font-family: "SF Pro Display", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 15px;
}

.location,
.user,
.calendar2,
.calendar1 {
  width: 20px;
  height: 20px;
}

.user {
  position: absolute;
  left: 660px;
}

.location {
  position: absolute;
  left: 30px;
}

.calendar1 {
  position: absolute;
  left: 300px;
}

.calendar2 {
  position: absolute;
  left: 480px;
}

.search h3 {
  font-size: 16px;
}

.search {
  margin-top: 80px;
  padding: 30px;
  width: 295px;
  height: 80px;
  background-color: #f2f2f2;
  margin-left: 100px;
  border-radius: 6px;
}

.beach {
  width: 259px;
  background-color: white;
  height: 44px;
  padding-left: 20px;
  margin-top: 20px;
  border: 1px solid #e0e0e0;
}

.lupa {
  margin-left: 5px;
  margin-top: -30px;
}

.filter {
  margin-left: 118px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  color: #333333;
}

.budget h3 {
  background-color: #f2f2f2;
  width: 273px;
  height: 55px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 16px;
  border: 1px solid #e0e0e0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.budget {
  border: 1px solid #e0e0e0;
  width: 295px;
  height: 293px;
  margin-left: 100px;
  border-radius: 6px;
  margin-top: 30px;
}

.rango_precio {
  display: flex;
  justify-content: space-between;
}

.rango_precio ul {
  list-style: none;
  padding-left: 10px;
}

.rango_precio ul li {
  padding-top: 18px;
  padding-right: 15px;
  padding-left: 10px;
  color: #333333;
}

.rango_precio input {
  padding-left: 10px;
  width: 15px;
  height: 15px;
  border-radius: 5px;
  border: 1px solid #bdbdbd;
}

.rango_precio_abajo {
  margin-left: 20px;
  margin-top: 20px;
  color: #4f4f4f;
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}

.rating {
  border: 1px solid #e0e0e0;
  width: 295px;
  height: 173px;
  margin-left: 100px;
  border-radius: 6px;
  margin-top: 30px;
}

.rating h3 {
  background-color: #f2f2f2;
  width: 274px;
  height: 55px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  font-size: 16px;
  border: 1px solid #e0e0e0;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}

.show {
  margin-left: 20px;
  margin-top: 20px;
  color: #4f4f4f;
  font-size: 14px;
}

.container_rating ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 10px;
}

.container_rating ul li {
  border: 1px solid #e0e0e0;
  width: 50px;
  height: 46px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}

.container_rating img {
  width: 18px;
  height: 18px;
}

.titulo {
  width: 504px;
  font-size: 24px;
  margin-top: 80px;
  margin-left: 30px;
}

.texto_debajo_titulo ul {
  display: flex;
  list-style: none;
  justify-content: center;
  margin-top: 10px;
  margin-left: 30px;
}

.texto_debajo_titulo {
  margin-top: 30px;
  display: flex;
}

.picks {
  width: 126px;
  height: 40px;
  border: 1px solid #2f80ed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #2969bf;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.hotel {
  width: 177px;
  height: 40px;
  border: 1px solid #2f80ed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #4f4f4f;
}

.residence {
  width: 105px;
  height: 40px;
  border: 1px solid #2f80ed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #4f4f4f;
}

.resort {
  width: 79px;
  height: 40px;
  border: 1px solid #2f80ed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #4f4f4f;
}

.space {
  width: 128px;
  height: 40px;
  border: 1px solid #2f80ed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: #4f4f4f;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.recomended {
  width: 190px;
  height: 48px;
  margin-left: 94px;
  display: flex;
  align-items: center;
  margin-top: 3px;
  border-radius: 6px;
}

.sort {
  position: relative;
  margin-right: -179px;
  width: 64px;
  font-size: 12px;
  margin-top: -10px;
  color: #828282;
}

.imagen_contenido {
  margin: 20px;
  display: flex;
}

.contenido {
  width: 915px;
  height: 240px;
  border: 1px solid #e0e0e0;
  margin-top: 50px;
  display: flex;
  margin-left: 30px;
}

.contenido h3 {
  margin-top: 35px;
  margin-left: 20px;
}

.calificacion {
  margin-left: 15px;
  margin-top: 10px;
  display: flex;
  align-items: center;
}

.calificacion span {
  margin-left: 10px;
  font-size: 14px;
  color: #4F4F4F;
}

.texto_dentro_recuadro{
  margin-left: 20px;
  width: 380px;
  height: 36px;
  margin-top: 10px;
  font-size: 13px;
  color: #4F4F4F;
  line-height: 140%;
}

.texto_dentro_recuadro button{
  width: 137px;
  height: 40px;
  margin-top: 20px;
  background-color: #2f80ed;
  border-radius: 6px;
  border: none;
  color: white  ;
}